body {
  width: 100%;
  height: 100%;
  display: block;
}

body > img {
  width: 100%;
  height: 100%;
}

.top {
  width: 100%;
  height: 12%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  flex-wrap: wrap;
  background-color: rgba(25, 58, 85, 1);
  color: lightgrey;
}

.nav {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  width: 100%;
  height: 40%;
  padding-top: 5%;
}

li {
  list-style-type: none;
  display: inline;
  padding-right: 10px;
}

li img {
  padding-right: 5px;
}

.container {
  width: 25%;
  height: 50%;
  background-color: rgba(25, 58, 85, 1);
  position: fixed;
  top: 27%;
  left: 9%;
}

.topHead {
  width: 100%;
  height: 15%;
  background-color: teal;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
}

.topHead div img {
  padding-left: 45px;
}

.one {
  width: 33%;
  height: 100%;
  background-color: rgba(0, 99, 183, 1);
}

.two {
  width: 33%;
  height: 100%;
}

.three {
  width: 33%;
  height: 100%;
}

.form {
  width: 100%;
  height: 40%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.depart {
  width: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}

.depart input {
  background-color: rgba(25, 58, 85, 1);
  border-radius: 10%;
  border: 2px solid white;
  height: 40%;
  width: 100%;
  color: lightgrey;
}

.depart form {
  width: 100%;
  height: auto;
}

.arrive {
  width: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}

.arrive input {
  background-color: rgba(25, 58, 85, 1);
  border-radius: 10%;
  border: 2px solid white;
  height: 40%;
  width: 100%;
  color: lightgrey;
}

.arrive form {
  width: 100%;
  height: auto;
}

.passengers {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: sans-serif;
}

.submit {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: sans-serif;
}

.submit input {
  width: 100%;
  height: 70%;
  background-color: rgba(0, 99, 183, 1);
  border-style: none;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
}
