body {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


#nav {
  background-color: rgba(39, 147, 217, 1);
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;


}

#nav li {
  border: none;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  padding: 15px 5px;
  margin-right: 10px;
}

#nav a {
  text-decoration: none;
}

#container {
  background-color: rgba(246, 241, 229, 0.83);
  text-align: center;
  position: static;
  margin: 50px auto auto auto;
  padding-top: 6%;
  width: 70%;
  height: 100%;
  display: block;
}

h1 {
  font-family: georgia;
}

.bars {
  margin-bottom: 15px;
  padding: 5px 10px 5px 10px;
  width: 20%;
  display: inline-block;

}

.keys {
  width: 100%;
  border-radius: 100%;
  height: auto;
}

a  p:hover::first-letter {
  font-size: 24px;
  color: red;
}

main div:nth-child(7) aside div p:hover::first-letter {
  font-size: 30px;
  color: yellow !important;
}
