#nav {
  background-color: rgba(104, 255, 119, 1);
  width:  100%;
  padding: 1%;
  text-align: center;
}

#nav li {
  border: none;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  padding: 15px 5px;
  margin-right: 10px;
}

#nav li:nth-child(2) {
  font-size: 3em;
}

#nav a {
  text-decoration: none;
}

#container {
  background-color: rgba(246, 241, 229, 0.7);
  text-align:center;
  margin: 10px auto auto auto;
  padding: 20px;
  width: 70%;
}

h1 {
  font-family: georgia;
}

#sidebar {
  margin-left: 15px;
  width: 20%;
}

.keys {
  width: 100%;
  border-radius: 100%;
  height: auto;
}

.keys:hover {
  width: 130%;
  height: auto;
}

.content {
  width: 35%;
}

.blogpost > p {
  width: 50%;
  text-align: left;
  padding: 20px;
}

.blogpost > div {

}
